/********** GENERICS  **********/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* ROOT COLORS */ 

/* Mi hanno condigliato di usarli e ho voluto provare. Ma magari ho solo fatto
più macello del dovuto! E' solo una prova per vedere se sono in grado di gestirli */
:root {
    --upgrade-navbar: rgba(8,11,18,255);
    --light-menu: rgba(20,25,34,255);
    --spotify-navbar: rgba(0,0,0,255);
    --music-bar: rgba(40,40,40,255);
    --white: rgba(255,255,255,255);
    --text-light-menu-icons: rgba(210,210,210,255);
    --text-spotify-navbar: rgba(210,210,210,255);
    --spotify-base-col: rgba(173,255,47,255) 

}

/* ROOT SIZES */

:root {
    /* Larghezze macro aree*/
    --desktop-main-width: 1400px;
    --desktop-spotify-navbar-width: 250px;
    --desktop-upgrade-navbar-width: calc(100% - 250px);
    --desktop-light-menu-width: calc(100% - 250px);
    --desktop-music-bar-width: 100%;
    /* Altezze macro aree*/
    --desktop-spotify-navbar-height: calc(100% - 10vh);
    --desktop-main-height: 100vh;
    --desktop-upgrade-navbar-height: 10vh; 
    --desktop-light-menu-height:90vh;
}



/********** BACKGROUND **********/
.bg-red         {background-color: red;}
.bg-black       {background-color: black;}
.bg-lightblue   {background-color: #b5ddff;}
.bg-blue        {background-color: #0084fd;}
.bg-white       {background-color: white;}
.bg-lavander    {background-color: #9792e4;}
.bg-gray        {background-color: gray;}
.bg-lightgreen  {background-color: #a2d39b;}


/********** FLEX **********/
.flex            {display: flex;}
.flex-column     {flex-direction: column;}
.flex-end        {justify-content: flex-end;}
.justify-center  {justify-content: center;}
.align-center    {align-items: center;}
.align-left      {align-items: left;}
.justify-between {justify-content: space-between;}
.wrap            {flex-wrap: wrap;}

/********** TEXT PROPERTIES **********/
.text-center    {text-align: center;}
.text-left      {text-align: left;}

.text-white     {color: white;}
.tex-black      {color: black;}
.text.azul      {color: #0084fd;}
.text-lavander  {color: #9792e4;}
.text-gold      {color: #fdc15f;}

/********** PADDING & MARGIN **********/
.pad0   {padding: 5px 30px}
.pad1   {padding: 1rem;}
.pad1-2 {padding-top: 1rem;
    padding-left: 1.5rem;}
.pad2   {padding: 2rem;}
.pad3   {padding: 5rem;}
.pad-x{
    padding-left: 2rem;
    padding-right: 2em;
}

.pad-top  {padding: 1rem 0;}

.gap      {gap: 2rem;}

.margin1 {margin-top: 3rem}
.margin2 {margin: 20px, 0px;}

/********** COLUMN **********/
.col{padding: 20px;}
.col10  {width: 10%;}
.col20  {width: 20%;}
.col30  {width: 30%;}
.col35  {width: 35%;}
.col40  {width: 40%;}
.col50  {width: 50%;}
.col60  {width: 60%;}
.col65  {width: 65%;}


.h100   {height: 100%;}

.pointer    {cursor: pointer;}
.border     {border: 2px dashed white;}